<html>
	<head>
		<title>Tudo na vida a gente tem que fazer!</title>
	</head>

	<body>
		<h1>Tudo na <a href="https://i.ytimg.com/vi/VOB1v9uPBkI/maxresdefault.jpg">vida</a> a gente tem que fazer!</h1>

		<p>E ai querida?</p>
		<p>Ta funcionando, manaaaa, sua loucaaaa!!!</p>

		<h2>Daqui pra frente</h2>

		<p>Entao se ligue, busque felicidade, <br> pra existir <em>historia</em> tem que existir verdade!</p>

		<h3>Lista de coisas para fazer nas ferias!</h3>

		<ul>
			<li>Começar a ler pelo menos 2 livros;</li>
			<li>Finalizar o curso <em>Aprendendo a aprender</em></li>
			<li>Estudar um outro idioma pela internet!</li>
		</ul>

		{% for post in posts %}
    		<div>
		        <p>published: {{ post.published_date }}</p>
		        <h2><a href="">{{ post.title }}</a></h2>
		        <p>{{ post.text|linebreaksbr }}</p>
		    </div>
		{% endfor %}

	</body>

</html>