<html>
	<head>
		<title>Tudo na vida a gente tem que fazer!</title>
	</head>

	<body>
		<h1>Tudo na <a href="https://i.ytimg.com/vi/VOB1v9uPBkI/maxresdefault.jpg">vida</a> a gente tem que fazer!</h1>

		<p>E ai querida?</p>
		<p>Ta funcionando, manaaaa, sua loucaaaa!!!</p>

		<h2>Daqui pra frente</h2>

		<p>Entao se ligue, busque felicidade, <br> pra existir <em>historia</em> tem que existir verdade!</p>

		<h3>Lista de coisas para fazer nas ferias!</h3>

		<ul>
			<li>Começar a ler pelo menos 2 livros;</li>
			<li>Finalizar o curso <em>Aprendendo a aprender</em></li>
			<li>Estudar um outro idioma pela internet!</li>
		</ul>

		<dir>
			<div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>


		</dir>

	</body>

</html>